
 table.sample {
     border-width: 1px;
     border-style: outset;
     border-color: blue;
     border-collapse: separate;
     background-color: rgb(255, 255, 240);
 }

 table.sample th {
     border-width: 1px;
     padding: 1px;
     border-style: none;
     border-color: blue;
     background-color: rgb(255, 255, 240);
 }

 table.sample td {
     border-width: 1px;
     padding: 1px;
     border-style: none;
     border-color: blue;
     background-color: rgb(255, 255, 240);
 }
